<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="entelplugin" version="0.0.1">
    <name>EntelPlugin</name>

    <description>An Android Cordova plugin that allows users to read from a morpho device.</description>
    <license>Apache 2.0</license>

    <keywords>cordova,android,morpho</keywords>
    <repo>https://github.com/diogo-martins-wingman/entel-plugin.git</repo>
    <issue>https://github.com/diogo-martins-wingman/entel-plugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/entelplugin.js" name="entelPlugin">
        <clobbers target="window.plugins.entelPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EntelPlugin">
                <param name="android-package" value="pt.wingman.entel.plugin.EntelPlugin"/>
            </feature>
        </config-file>
            
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
            
        <source-file src="src/android/EntelPlugin.java" target-dir="src/pt/wingman/entel/plugin" />
        <source-file src="src/android/definitions/FingerStatus.java" target-dir="src/pt/wingman/entel/plugin/definitions" />
        <source-file src="src/android/definitions/FingerprintError.java" target-dir="src/pt/wingman/entel/plugin/definitions" />
        <source-file src="src/android/definitions/FingerprintMessageType.java" target-dir="src/pt/wingman/entel/plugin/definitions" />
        <source-file src="src/android/definitions/FingerprintStatus.java" target-dir="src/pt/wingman/entel/plugin/definitions" />
        <source-file src="src/android/FingerPrintUsbDeviceConnection.java" target-dir="src/pt/wingman/entel/plugin" />
        <source-file src="src/android/FingerprintManager.java" target-dir="src/pt/wingman/entel/plugin" />
        <source-file src="src/android/FingerprintManagerCallback.java" target-dir="src/pt/wingman/entel/plugin" />
        <source-file src="src/android/MorphoUtils.java" target-dir="src/pt/wingman/entel/plugin" />

        <lib-file src="src/android/libs/MorphoSmart_SDK_6.17.3.0.jar"/>
        <lib-file src="src/android/libs/MSO_Secu.jar"/>
		<lib-file src="src/android/libs/dpuareu.jar"/>
            
        <resource-file src="src/android/jniLibs/armeabi/libMSO_Secu.so" target="jniLibs/armeabi/libMSO_Secu.so"/>
        <resource-file src="src/android/jniLibs/armeabi/libMSO100.so" target="jniLibs/armeabi/libMSO100.so"/>
        <resource-file src="src/android/jniLibs/armeabi/libNativeMorphoSmartSDK_6.17.3.0.so" target="jniLibs/armeabi/libNativeMorphoSmartSDK_6.17.3.0.so"/>
		
		<!-- native libs Morpho -->
		<resource-file src="src/android/libs/armeabi/libMSO_Secu.so" target="libs/armeabi/libMSO_Secu.so" />
		<resource-file src="src/android/libs/armeabi/libMSO100.so" target="libs/armeabi/libMSO100.so" />
		<resource-file src="src/android/libs/armeabi/libNativeMorphoSmartSDK_6.17.3.0.so" target="libs/armeabi/libNativeMorphoSmartSDK_6.17.3.0.so" />
		
		<resource-file src="src/android/libs/armeabi-v7a/libMSO_Secu.so" target="libs/armeabi-v7a/libMSO_Secu.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libMSO100.so" target="libs/armeabi-v7a/libMSO100.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libNativeMorphoSmartSDK_6.17.3.0.so" target="libs/armeabi-v7a/libNativeMorphoSmartSDK_6.17.3.0.so" />
		
		<!-- native libs DigitalPersona -->
		<resource-file src="src/android/libs/armeabi/libbiofp_e_lapi.so" target="libs/armeabi/libbiofp_e_lapi.so" />
		<resource-file src="src/android/libs/armeabi/libdpfj.so" target="libs/armeabi/libdpfj.so" />
		<resource-file src="src/android/libs/armeabi/libdpfpdd.so" target="libs/armeabi/libdpfpdd.so" />
		<resource-file src="src/android/libs/armeabi/libdpfpdd_4k.so" target="libs/armeabi/libdpfpdd_4k.so" />
		<resource-file src="src/android/libs/armeabi/libdpfpdd_ptapi.so" target="libs/armeabi/libdpfpdd_ptapi.so" />
		<resource-file src="src/android/libs/armeabi/libdpfpdd5000.so" target="libs/armeabi/libdpfpdd5000.so" />
		<resource-file src="src/android/libs/armeabi/libdpfr6.so" target="libs/armeabi/libdpfr6.so" />
		<resource-file src="src/android/libs/armeabi/libdpfr7.so" target="libs/armeabi/libdpfr7.so" />
		<resource-file src="src/android/libs/armeabi/libdpuareu_jni.so" target="libs/armeabi/libdpuareu_jni.so" />
		<resource-file src="src/android/libs/armeabi/libdpuvc.so" target="libs/armeabi/libdpuvc.so" />
		<resource-file src="src/android/libs/armeabi/libFingerILA.so" target="libs/armeabi/libFingerILA.so" />
		<resource-file src="src/android/libs/armeabi/libtfm.so" target="libs/armeabi/libtfm.so" />
		<resource-file src="src/android/libs/armeabi/libZAandroid.so" target="libs/armeabi/libZAandroid.so" />
		<resource-file src="src/android/libs/armeabi/libdpfpdd_tcd58.so" target="libs/armeabi/libdpfpdd_tcd58.so" />
		
		
		<resource-file src="src/android/libs/armeabi-v7a/libbiofp_e_lapi.so" target="libs/armeabi-v7a/libbiofp_e_lapi.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libdpfj.so" target="libs/armeabi-v7a/libdpfj.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libdpfpdd.so" target="libs/armeabi-v7a/libdpfpdd.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libdpfpdd_4k.so" target="libs/armeabi-v7a/libdpfpdd_4k.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libdpfpdd_ptapi.so" target="libs/armeabi-v7a/libdpfpdd_ptapi.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libdpfpdd5000.so" target="libs/armeabi-v7a/libdpfpdd5000.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libdpfr6.so" target="libs/armeabi-v7a/libdpfr6.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libdpfr7.so" target="libs/armeabi-v7a/libdpfr7.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libdpuareu_jni.so" target="libs/armeabi-v7a/libdpuareu_jni.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libdpuvc.so" target="libs/armeabi-v7a/libdpuvc.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libFingerILA.so" target="libs/armeabi-v7a/libFingerILA.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libtfm.so" target="libs/armeabi-v7a/libtfm.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libZAandroid.so" target="libs/armeabi-v7a/libZAandroid.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libdpfpdd_tcd58.so" target="libs/armeabi-v7a/libdpfpdd_tcd58.so" />
    </platform>
</plugin>
